.card-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 10px;

  flex-flow: wrap;
  transition: 0.2s;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: 200px;
  /* background-color: grey; */
  border-radius: 10px;
  transition: 0.4s;
  border: 1px solid grey;
}

.box:hover {
  box-shadow: 0px 20px 10px rgba(0, 0, 255, 0.2);
  background-color: black;
}
.box:hover span {
  background-color: white;
}
.box:hover h3,
.box:hover p {
  color: white;
}

.box:hover button {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.box span {
  justify-self: center;
  height: 100px;
  width: 100px;
  background-color: black;
  display: block;
  border-radius: 50%;
}
.box button {
  width: 90%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 800;
  background-color: black;
  color: white;
}

.content {
  /* background-color: rgb(148, 130, 107); */
  margin: 5px;
}

.content h3,
p {
  text-align: center;
  color: black;
}
@media (min-width: 100px) and (max-width: 425px) {
  .card {
    padding: 0;
    margin: 0;
  }
  .box {
    display: flex;
    width: 100%;
    max-width: 90%;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .card {
    padding: 0;
    margin: 0;
  }
  .box {
    display: flex;
    width: 45.33%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    padding: 0;
    margin: 0;
  }
  .box {
    display: flex;
    width: 25.66%;
    min-width: 300px;
  }
}

@media (min-width: 1025px) {
  .card {
    padding: 0;
    margin: 0;
  }
  .box {
    display: flex;
    width: 15%;
  }
}
